<div
    class="container flex items-center justify-center sm:justify-between max-w-screen-xl px-3 py-4 mx-auto sm:min-h-[calc(100vh-130px)] flex-col sm:flex-row">
    <div class="flex flex-col animate-slide">
        <div class="flex flex-wrap items-center justify-center w-full gap-4 xl:grid xl:grid-cols-4">
            <ng-container *ngIf="!isNewPageLoaded">
                <a routerLinkActive="active" *ngFor="let character of characterList" id="{{ character.id }}"
                    class="w-auto overflow-hidden transition-all duration-200 scale-0 rounded-sm shadow-lg opacity-0 character-card group animate-grow">
                    <div class="shadow-md runded-none bg-slate-900">
                        <img [src]="character.image" alt="{{ character.name }}" class="object-cover w-full">
                        <div class="flex flex-col items-start justify-start p-4 text-zinc-200">
                            <h3 class="text-lg font-semibold">{{ character.name }}</h3>
                            <p>Status: {{ character.status }}</p>
                            <p>Species: {{ character.species }}</p>
                            <p>Gender: {{ character.gender }}</p>
                        </div>
                    </div>
                </a>
            </ng-container>
        </div>
        <div class="flex items-center justify-end">
            <div class="flex justify-center gap-1 mt-4 text-zinc-200">
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="paginationInfo.currentPage === 1" (click)="handlePageNumber('first')">
                    1
                </button>
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="paginationInfo.currentPage && paginationInfo.currentPage - 4 <= 1"
                    (click)="handlePageNumber('superPrev')">
                    <ng-icon class="text-lg" name="matKeyboardDoubleArrowLeftOutline"></ng-icon>
                </button>
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="!paginationInfo.prev" (click)="handlePageNumber('prev')">
                    <ng-icon class="text-lg" name="matKeyboardArrowLeftOutline"></ng-icon>
                </button>
                <div class="flex items-center justify-center py-[2px] px-4 text-lg align-middle rounded-sm text-bold">
                    {{ paginationInfo.currentPage }}
                </div>
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="!paginationInfo.next" (click)="handlePageNumber('next')">
                    <ng-icon class="text-lg" name="matKeyboardArrowRightOutline"></ng-icon>
                </button>
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="paginationInfo.currentPage && paginationInfo.currentPage + 4 >= paginationInfo.pages"
                    (click)="handlePageNumber('superNext')">
                    <ng-icon class="text-lg" name="matKeyboardDoubleArrowRightOutline"></ng-icon>
                </button>
                <button
                    class="flex items-center justify-center align-middle transition-all duration-300 rounded-sm min-w-8 hover:opacity-80 bg-slate-700 disabled:bg-slate-700 disabled:opacity-50"
                    [disabled]="paginationInfo.currentPage === paginationInfo.pages"
                    (click)="handlePageNumber('last')">{{
                    paginationInfo.pages
                    }}</button>
            </div>
        </div>
    </div>
</div>