<nav class="py-4">
    <div class="flex items-center justify-between max-w-screen-xl px-3 mx-auto">
        <div class="flex items-center gap-4">
            <button class="flex items-center justify-center p-2 rounded-sm sm:hidden bg-slate-900"
                (click)="SidebarService.toggleSidebar()">
                <mat-icon aria-hidden="false" class="text-zinc-200" fontIcon="menu"></mat-icon>
            </button>
            <a [routerLink]="['/']" class="special-logo-text">
                RICK AND MORTY
            </a>
        </div>
        <ul class="hidden space-x-4 sm:flex">
            <li class="text-base font-medium transition-all duration-300 text-zinc-200 hover:text-zinc-400">
                <a [routerLink]="['/characters']" routerLinkActive="active">Characters</a>
            </li>
            <li class="text-base font-medium transition-all duration-300 text-zinc-200 hover:text-zinc-400">
                <a [routerLink]="['/episodes']" routerLinkActive="active">Episodes</a>
            </li>
            <li class="text-base font-medium transition-all duration-300 text-zinc-200 hover:text-zinc-400">
                <a [routerLink]="['/locations']" routerLinkActive="active">Locations</a>
            </li>
        </ul>
    </div>
</nav>