<div class="container flex flex-col items-center justify-center max-w-screen-xl px-3 py-4 mx-auto sm:justify-between sm:flex-row">
    <div class="flex flex-col">
        <span class="text-4xl font-semibold text-center sm:text-left text-zinc-200">Welcome to the<br>Rick and Morty
            Hub!</span>
    </div>
    <img class="w-11/12 sm:w-1/2" src="../../../assets/portal.png" alt="Rick and Morty">
</div>

<div class="container flex flex-col items-center justify-center max-w-screen-xl px-3 py-4 mx-auto">
    <span class="my-6 text-4xl font-semibold text-center sm:text-left text-zinc-200">Main characters</span>
    <div class="flex flex-wrap items-center justify-center gap-6">
        <div *ngFor="let character of characterList" id="{{ character.id }}"
            class="w-auto overflow-hidden transition-all duration-200 scale-0 rounded-sm shadow-lg opacity-0 character-card group animate-grow">
            <a [routerLink]="'/characters/' + character.id" replaceUrl="true" class="relative flex flex-col transition-all duration-300 shadow-md runded-none bg-slate-900 hover:opacity-50">
                <img [src]="character.image" alt="{{ character.name }}" class="object-cover w-40 h-40">

                <div class="flex flex-col items-center justify-center p-4 text-zinc-200">
                    <span class="text-lg font-medium">{{ character.name }}</span>

                </div>
            </a>
        </div>
    </div>
</div>
