<div
    class="container flex flex-col items-center justify-center max-w-screen-xl px-3 py-4 mx-auto sm:justify-between sm:flex-row">
    <div class="flex flex-col animate-slide">
        <app-pagination [paginationInfo]="paginationInfo" (handlePageNumber)="handlePageNumber($event)"></app-pagination>

        <div class="flex flex-wrap items-center justify-center w-full gap-4 xl:grid xl:grid-cols-4">
            <ng-container *ngIf="!isNewPageLoaded">
                <div *ngFor="let character of characterList" id="{{ character.id }}"
                    class="w-auto overflow-hidden transition-all duration-200 scale-0 rounded-sm shadow-lg opacity-0 character-card group animate-grow">
                    <div class="relative shadow-md runded-none bg-slate-900">

                        <a href=""
                            [routerLink]="'/characters/' + character.id"
                            class="absolute flex items-center justify-center align-middle rounded-full top-1 left-1 bg-slate-900 min-w-10 min-h-10">
                            <ng-icon class="text-2xl text-zinc-200" name="matAccountBoxOutline"></ng-icon>
                        </a>

                        <img [src]="character.image" alt="{{ character.name }}" class="object-cover">

                        <div class="flex flex-col items-start justify-start p-4 text-zinc-200">
                            <span class="text-lg font-medi um">{{ character.name }}</span>

                            <div class="flex items-center justify-center gap-1">
                                <ng-container *ngIf="character.status === 'Alive'">
                                    <ng-icon class="text-lg text-zinc-200" name="matFavoriteBorderOutline"></ng-icon>
                                </ng-container>
                                <ng-container *ngIf="character.status === 'Dead'">
                                    <ng-icon class="text-lg text-zinc-200" name="matDangerousOutline"></ng-icon>
                                </ng-container>
                                <ng-container *ngIf="character.status === 'unknown'">
                                    <ng-icon class="text-lg text-zinc-200" name="matHelpOutline"></ng-icon>
                                </ng-container>
                                <span class="text-base">{{character.status}}</span>
                            </div>

                            <div class="flex items-center justify-center gap-1">
                                <ng-icon class="text-lg text-zinc-200" name="matCategoryOutline"></ng-icon>
                                <span class="text-base">
                                    {{ character.species }}
                                </span>
                            </div>

                            <div class="flex items-center justify-center gap-1">
                                <ng-container *ngIf="character.gender === 'Male'">
                                    <ng-icon class="text-lg text-zinc-200" name="matMaleOutline"></ng-icon>
                                </ng-container>
                                <ng-container *ngIf="character.gender === 'Female'">
                                    <ng-icon class="text-lg text-zinc-200" name="matFemaleOutline"></ng-icon>
                                </ng-container>
                                <ng-container *ngIf="character.gender === 'Genderless'">
                                    <ng-icon class="text-lg text-zinc-200" name="matDoNotDisturbOnOutline"></ng-icon>
                                </ng-container>
                                <ng-container *ngIf="character.gender === 'unknown'">
                                    <ng-icon class="text-lg text-zinc-200" name="matHelpOutline"></ng-icon>
                                </ng-container>
                                <span class="text-base">
                                    {{ character.gender }}
                                </span>
                            </div>

                            
                            <a class="flex items-center justify-center gap-1 hover:opacity-75" [routerLink]="'/locations/' + getLocationIdFromUrl(character.location.url)">
                                <ng-icon class="text-lg text-zinc-200" name="matPinDropOutline"></ng-icon>
                                <span class="text-base line-clamp-1">{{ character.location.name }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        
        <app-pagination [paginationInfo]="paginationInfo" (handlePageNumber)="handlePageNumber($event)"></app-pagination>
    </div>
</div>